<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="com.Bayt.Utility.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
  
    <classes>
  
      <class name="com.Bayt.HomeTest.HowDoesBaytWorkTest"/>
      <class name="com.Bayt.HomeTest.FindJobsinJordanTest"/>
      <class name="com.Bayt.LoginTest.LoginTest"/>
      <class name="com.Bayt.HomeTest.SearchJobsTest"/>
      <class name="com.Bayt.RegisterTest.CheekEmailRlreadyTest"/>
      <class name="com.Bayt.FindJopsTest.ExecutiveJobsTest"/>
      <class name="com.Bayt.RegisterTest.ApplyTest"/>
      <class name="com.Bayt.HomeTest.FooterTest"/>
      <class name="com.Bayt.HomeTest.HomeHeaderAsGestTest"/>
          <class name="com.Bayt.HomeTest.PeopleWhoFoundJobsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
